@model Order

<div class="row" style="margin-top: 6%;border-radius: 20px;border-style: solid;border-color: #2fa4e7;">
    <div class="col-md-10">

        <h3 style="text-align:center;margin:15px;">You are just one step away from ordering your drinks.</h3>

        <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
            <div class="form-group row row">
                <label asp-for="LastName" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row row">
                <label asp-for="FirstName" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="AddressLine1" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="AddressLine1" class="form-control" />
                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="AddressLine2" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="AddressLine2" class="form-control" />
                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ZipCode" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="State" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Country" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="PhoneNumber" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-sm-6">
                    <input class="btn btn-success" type="submit" value="Complete order" />
                    @*<input class="btn btn-default" type="submit" value="Return " />*@
                </div>
            </div>

        </form>
    </div>
</div>