<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
       asp-controller="Drink"
       asp-action="Index">Drinks<b class="caret"></b></a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @foreach (var category in Model)
        {
                <a class="dropdown-item a-white" asp-controller="Drink" asp-action="List"
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
        }
        <a class="dropdown-item text-dark" asp-controller="Drink" asp-action="List" asp-route-category="">View all drinks</a>
    </div>
</li>

